<div class="hero-unit">
  <h1>Get Your Tweets!</h1>

  <p><small>
    tweet2notesは每日午前0時(JST)にあなたのTwitterアカウントのツイートから最新200件を読み込み、その日一日のツイートををまとめてEvernoteの新規ノートとして保存します。<br />
    Twitter, Evernoteの両方での認証の後、登録してください。<br />
    登録を解除する場合は、Twitter, Evernoteそれぞれの設定よりアプリ連携を解除してください。
  </small></p>
  
  <p>
    <% if session[:twtoken] == nil then %>
      <%= link_to 'Twitter Authorize &raquo;'.html_safe, auth_twitter_path, :class => 'btn btn-info' %>
    <% else %>
      <%= link_to 'Twitter Logout', login_twLogout_path, :class => 'btn btn-info' %>
    <% end %>
  </p>
  
  <p>
    <% if session[:entoken] == nil then %>
      <%= link_to 'Evernote Authorize &raquo;'.html_safe, auth_evernote_path, :class => 'btn btn-success' %>
    <% else %>
      <%= link_to 'Evernote Logout', login_enLogout_path, :class => 'btn btn-success' %>
    <% end %>
  </p>
  
  <p>
    <% if session[:twtoken] != nil and session[:entoken] != nil then %>
      <%= link_to 'NextStep &raquo;'.html_safe, parameter_input_path, :class => 'btn btn-primary btn-large' %>
    <% else %>
      <%= link_to 'NextStep &raquo;'.html_safe, '#', :class => 'btn btn-primary btn-large disabled' %>
    <% end %>
  </p>

</div>
